@import url("./variables.less");
@import url("./animation.less");
@import url("./mobile.less");
// grid
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: @subtitle-size;
  font-family: TTNorms Medium;
  background: radial-gradient(
    1452.75px at 29.49% 51.48%,
    #3aaaff 0%,
    #1b71ff 100%
  );
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: @height-footer 1fr @height-footer;
  header {
    grid-row: 1;
    grid-column: ~"1 / 3";
  }
  main {
    grid-row: 2;
    grid-column: ~"1 / 3";
  }
  footer {
    grid-row: 3;
    grid-column: ~"1 / 3";
  }
}
// header
header {
  margin: 0 @margin-container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 130px;
    height: 15px;
    cursor: pointer;
  }
  .internationalization {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    .underline-from-right();
    // color: @gray;
    // transition: color @time-description ease-in-out;
    // // box-shadow: 0 1px 0 white;
    // &:hover {
    //   cursor: pointer;
    //   color: @primary;
    //   transition: color @time-description ease-in-out;
    // }
  }
}
// footer
footer {
  margin: 0 @margin-container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div, span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: @primary;
    a {
      margin-left: 5px;
      color: inherit;
      text-decoration: inherit;
      .underline-from-right();
    }
  }
}
// aside
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .aside-left {
    width: @width-aside-left;
    height: @height-aside;
    background: url("../assets/macbook.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 500px;
  }
  .aside-right {
    width: @width-aside-right;
    height: @height-aside;
    .container {
      color: white;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      .content {
        .title {
          margin-top: 25vh;
          line-height: normal;
          font-size: 20px;
          text-align: left;
          margin-bottom: 10px;
        }
        .subtitle {
          margin-top: 10px;
          line-height: normal;
          font-size: @subtitle-size;
          text-align: left;
          margin-bottom: 20px;
        }
        form {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: @form-height;
          .input-primary {
            margin-right: 20px;
            input {
              margin: 0;
              border: 0;
              padding-left: 10px;
              display: inline-block;
              vertical-align: middle;
              white-space: normal;
              background: none;
              line-height: 1;
              color: white;
              border-bottom: 1px solid white;
              transition: color @time-description,
                border-bottom @time-description;
              height: @input-height;
              width: @input-width;
              font-size: @subtitle-size;
              &:focus {
                outline: 0;
              }
            }
            // src style animation.less
            .input-hover();
          }
          .error {
            input {
              border-bottom: 1px solid @btn-primary;
              transition: border-bottom @time-description;
            }
            .label {
              color: @btn-primary;
              transition: color @time-description;
            }
          }
          .btn-primary {
            width: @btn-width;
            height: @btn-height;
            color: white;
            border: 1px solid white;
            transition: color @time-description border @time-description;
            font-size: @subtitle-size;
            .sweep-to-right();
          }
          .btn-disabled {
            pointer-events: none;
            color: @gray;
            border: 1px solid @gray;
            transition: color @time-description border @time-description;
          }
        }
        .navigation {
          display: flex;
          flex-direction: column;
          div {
            width: fit-content;
            text-align: left;
          }
          .nav-item {
            margin-top: 15px;
            width: fit-content;
            margin-top: 15px;
            font-size: @subtitle-size;
            color: white;
            text-align: left;
            // &:hover {
            //   cursor: pointer;
            //   color: @primary; // box-shadow: 0 0 0 @primary;
            //   transition: color @time-description;
            // }
            .underline-from-right();
          }
          .item-disabled {
            pointer-events: none;
          }
        }
      }
    }
  }
}


// reset arrow from input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}   