@md: ~"(max-width: 1000px)";
@sm: ~"(max-width: 800px)";
@xs: ~"(max-width: 576px)";

@media @sm {
  .wrapper {
    overflow: hidden !important;
    background: radial-gradient(
      730.39px at 25.42% 50%,
      #3aaaff 0%,
      #3aa9ff 37.3%,
      #1b71ff 100%
    ) !important;

    main {
      flex-direction: column;
      .aside-left {
        width: @width-aside-left*2;
        height: 35vh;
        background: url("../assets/tablet.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 250px;
      }
      .aside-right {
        width: @width-aside-right*2;
        height: auto;
        // margin: 50px 0;
        margin-bottom: 50px;
        .container {
          justify-content: center;
          align-items: flex-start;
          .title {
            margin-top: 0 !important;
            text-align: center !important;
          }
          .subtitle {
            text-align: center !important;
          }
          .navigation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .nav-item {
              text-align: center !important;
            }
          }
        }
      }
    }
  }
}
@media @xs {
  .wrapper {
    background: radial-gradient(
      380.03px at 56.2% 31.86%,
      #3aaaff 0%,
      #3aa9ff 37.3%,
      #1b71ff 100%
    ) !important;
  }
  main {
    .aside-left {
      display: none;
      width: @width-aside-left*2;
      background: none !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: 160px 150px !important;
    }
    .aside-right {
      width: 90vw !important;
      margin: 0 5vw;
      margin-bottom: 0 !important;
      .container {
        justify-content: flex-start !important;
        width: 100%;
        .content {
          width: 100%;
          .title {
            margin-top: 0 !important;
            text-align: left !important;
          }
          .subtitle {
            text-align: left !important;
            margin-bottom: 12px !important;
          }
          .navigation {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }
          form {
            width: 100%;
            .input-primary {
              margin: 12px 0;
              input {
                width: @input-width - 70 !important;
              }
            }
            .btn-primary {
              width: 150px;
            }
          }
        }
      }
    }
  }
}
