// main size const

@main-height: 100vh;
@main-width: 100vh;
@height-footer: 10vh; 
@margin-container: 5vw;

// aside size const

@width-aside-left: 50vw;
@width-aside-right: 50vw;
@height-aside: @main-height - 2*@height-footer;

// const time animation

@time-description: .25s;

// const color

@primary: rgba(255, 255, 255, 1);
@gray: rgba(255, 255, 255, 0.4);